.arrow-button {
  --arrow-distance: -8rem;
  --arrow-size: 6.2rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: var(--arrow-size);
  height: var(--arrow-size);
  border-radius: 100%;
  display: flex;
  transform: translateY(-50%);
  top: 50%;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--buttons-bg-dark);
  border: 3px solid var(--white);
  img {
    width: 17px;
    height: 26px;
  }
  &.right {
    right: var(--arrow-distance);
  }
  &.left {
    left: var(--arrow-distance);
  }
  &[disabled] {
    cursor: not-allowed;
    border: 3px solid #604f6c;
    img {
      opacity: 0.3;
    }
  }
  @media (max-width: 800px) {
    --arrow-distance: -2rem;
    --arrow-size: 4rem;
    img {
      height: 13px;
    }
  }
}
