.cta-button {
  color: var(--white);
  padding: 1.2rem 2.5rem;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--buttons-bg-light);
  cursor: pointer;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: #f43075;
  }
}
