.cta-button {
  color: var(--white);
  padding: 1.2rem 2.5rem;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--buttons-bg-light);
  cursor: pointer;
  transition: background-color 200ms ease-out;
  &:hover,
  &:focus {
    background-color: #f1568c;
    box-shadow: 0 0.5em 0.5em -0.2em #38085b;
  }
}
