.hero-section {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items: center;
  grid-gap: 3rem;
  place-content: center;
  @media (max-width: 1000px) {
    justify-items: center;
    text-align: center;
  }
  @media (max-width: 500px) {
    grid-template-columns: 30rem;
    img {
      width: 250px;
    }
  }
}

.hero-image {
  animation: image-animation 1s ease-in-out 0s 10 alternate;
}

.hero-title-wrapper {
  position: relative;
  button {
    @media (min-width: 1000px) {
      transform: translateX(-25%);
    }
  }
}

.hero-decor {
  right: 0;
  position: absolute;
}

.hero-title {
  font-family: var(--georgia);
  font-size: 4.8rem;
  position: relative;
  &:after {
    position: absolute;
    top: -2rem;
    right: -1rem;
    content: url("../../assets/elements/hero_decor.svg");
    @media (max-width: 500px) {
      display: none;
    }
  }
  @media (max-width: 500px) {
    font-size: 4rem;
  }
  span {
    display: block;
  }
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  @media (max-width: 500px) {
    max-width: 300px;
  }
}

@keyframes image-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
