:root {
  --white: #fff;
  --gray0: #eeeeee;
  --gray1: #e4e3e3;
  --gray2: #c4c4c4;
  --gray3: #969393;
  --accent-color: #fbe067;
  --bg: #1c042e;
  --buttons-bg-light: #ab528d;
  --buttons-bg-dark: #271138;
  --card-bg: #331f41;
}
