@import "fonts";
@import "colors";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--bg);
  max-width: 1400px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--montserrat);
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--white);
  text-decoration: none;
}
