.header {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 2rem 5rem 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 2.2rem;
}

.cart-button {
  position: fixed;
  top: 2rem;
  right: 5rem;
  cursor: pointer;
  background: none;
  border: none;
}

.cart-icon {
  width: 3rem;
}

.cart-quantity {
  display: block;
  z-index: 5;
  position: absolute;
  padding: 3px 5px;
  top: 4px;
  right: 1px;
  font-size: 0.8rem;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--buttons-bg-dark);
}
